<!DOCTYPE html>
<html>
<head>
  <title>Supportquiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Support Requests</h1>
<%= flash[:notice] || flash[:alert] %>
<hr>
<%= yield %>

</body>
</html>
